body {
    background-image: url("../Grilled-Cheese-Sandwich-3.jpg");
    background-repeat: no-repeat;
    background-color: aquamarine;
    font-style: italic;
    color: aliceblue;
    }
h1 {
    color: green;
}